<app-menu></app-menu>

<h2>Your profile</h2>
<div *ngIf="(currentProfile | async) as cp" class="profile">
  <div><label>Name</label> <span>{{cp.firstName}} {{cp.surname}}</span></div>
  <div><label>City</label> <span>{{cp.city}}</span></div>
  <div><label>Gender</label> <span>{{cp.gender}}</span></div>
  <div><label>Birth Date</label> <span>{{cp.birthDate}}</span></div>
  <div><label>Interests</label> <span>{{cp.interests}}</span></div>
</div>

<br/>
<br/>

<h2>Your friends</h2>
<table>
  <tr *ngFor="let friend of (friends | async)?.friends">
    <td>
      <div style="display:inline-block;width: 100px">{{friend.firstName}} {{friend.lastName}}</div>
    </td>
    <td>
      <button mat-button color="warn"
              (click)="removeFriend(friend)">
        remove
      </button>
    </td>
  </tr>
</table>

<div *ngIf="(friends | async)?.friends.length == 0">
  No friends yet.
</div>

<h2>Your friends updates</h2>
<table style="width: 100%">
  <tr *ngFor="let item of (historyItems | async)">
    <td>
      {{item.event.userDescription}}  <i>{{translateEventType(item.event.eventType)}}</i> {{item.event.objectDescription}}
    </td>
    <td>
      {{item.event.eventDate}}
    </td>
  </tr>
</table>

<div *ngIf="(historyItems | async).length == 0">
  No history yet.
</div>
